h1{
	color:lightgray;
	font-size: 75px;
	text-align: center;
}

body{
	background-color: #736462;
	font-family: sans-serif;
	margin: 0;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
	top: 0;
	background-color: darkgrey;
}

li{
	float: left;
}

li a{
	float: left;
	text-align: center;
	padding: 20px;
	color: beige;
	font-size: 30px;
}

li a:hover{
	color: beige;
	background-color: red;
}

img.social:hover{
	opacity: .50;
}

div.section{
	display: block;
	background-color: darkred;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 5px;
	border-color: slategrey;
	border-style: solid;
}